<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Main Styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <title>Classes - Parra Environmental Training</title>

    <!-- <script src="/scripts/checkout.js"> -->
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html">
            <img class="nav-logo" style=" display: flex; width: 50%; height: auto;" src="/images/pet.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">
        <!-- Main Heading -->
        <div class="main-heading">
            <h1>Classes</h1>
        </div>
        <!-- ./heading -->

        <!-- Schedule Section-->
        <div class="schedule">
            <div class="row">
                <div class="col">
                    <h5> We offer training in many different areas. Check below to find the right classes for you. </h5>
                    <br>
                    <a href="#" class="btn btn-info">Class Schedule</a>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
            <hr>
        </div>
        <!-- ./schedule -->


        <!-- Classes Section -->
        <div class="classes-container">
            <div class="row">
                <div class="col-sm-12" style="display: inline-flex;  flex-wrap: wrap;">

                    <% items.classes.forEach(function(item) { %>
                    <div class="card" data-item-id='<%= item.id %>' style="width: 18rem; margin: auto;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title"> <%= item.name %> </h5>
                            <p class="card-text"><%= item.description %></p>

                            <button type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#exampleModalCenter<%= item.id %>">
                                Learn More
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter<%= item.id %>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><%= item.name %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="font-size: 10px;">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col class-info px-5">
                                                        <form class="class-form" action="/checkout" method="POST">
                                                            <input type="hidden" name="id" value="<%= item.id %>">
                                                            <input type="hidden" name="className"
                                                                value="<%= item.name %>">
                                                            <div class="instructor">

                                                                <input type="hidden" name="instructor"
                                                                    value="<%= item.instructor %>">
                                                                <h4>Instructor: <%= item.instructor %></h4><br>
                                                            </div>
                                                            <div class="date">
                                                                <input type="hidden" name="date"
                                                                    value="<%= item.date %>">
                                                                <h4>Date: <%= item.date %></h4><br>
                                                            </div>
                                                            <div class="duration">
                                                                <input type="hidden" name="duration"
                                                                    value="<%= item.duration %>">

                                                                <h4>Duration: <%= item.duration %></h4><br>
                                                            </div>
                                                            <div class="description">
                                                                <input type="hidden" name="description"
                                                                    value="<%= item.description %>">
                                                                <h4>Description: <%= item.description %></h4><br>
                                                            </div>
                                                            <div class="price">
                                                                <input type="hidden" name="price"
                                                                    value="<%= item.price %>">
                                                                <h4><%= "$" + (item.price / 100)+".00" %></h4>
                                                            </div><br>
                                                            <hr>
                                                            <div class="customerName">
                                                                <h4>Ready to sign up?</h4>
                                                                <h4>Enter your name.</h4>
                                                                <input type="text" name="firstname" required="true"
                                                                    placeholder="First Name">
                                                                <input type="text" name="lastname" required="true"
                                                                    placeholder="Last Name">
                                                            </div><br>
                                                            <input class="btn btn-primary" type="submit"
                                                                value="Sign Up">
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- ./modal -->
                    </div>
                </div>
                <% }); %>
            </div>
            <!-- ./col -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./classes-container -->


    <!-- Question Section -->
    <div class="secondary-heading" style="background-color: #6AB443;">
        <h1>
            Have any questions? Contact Us.
        </h1>

        <a href="" class="btn btn-success">Contact Us</a>
    </div>
    <!-- ./heading -->

    </div>
    <!-- ./container-fluid -->

    <footer>
        <div class="container-fluid footer-content">
            <div class="row">
                <div class="col">
                    <div class="copyright">
                        Copyright &copy; 2019 <br>
                        Parra Environmental Training
                    </div>
                    <!-- ./copyright -->
                </div>
                <div class="col">
                    <div class="footer-contact">
                        1234 Street Dr.<br>
                        City, State<br>
                        Zipcode<br>
                        Tel: (510)-200-3091<br>
                        Email: Hermes@Parraenviro.com<br>
                    </div>
                    <!-- ./footer-contact -->
                    <br>
                </div>
                <!-- ./footer-col -->
                <div class="col">
                    <div class="slogo">
                        "Training Done Right"<br>
                        <img src="/images/PET.png" />
                    </div>
                    <!-- ./slogo -->
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- ./footer-content -->
    </footer>
    <!-- ./footer -->

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>


</html>